DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=*********
DATABASE_USER=*********
DATABASE_PASSWORD=*********

CHUNK_SIZE=500
CHUNK_OVERLAP=50

EMBEDDING_MODEL=BAAI/bge-small-zh-v1.5
EMBEDDING_DIM=512
EMBEDDING_BATCH_SIZE=32
EMBEDDING_QUERY_INSTRUCTION=为这个句子生成表示以用于检索相关文章：

TOP_K=15
THRESHOLD=0.5

RERANK_MODEL=BAAI/bge-reranker-v2-m3

DEVICE=cpu

VECTOR_DB=pgvector